html{
  box-sizing: border-box;
  font-family: "Karla";
  font-size: 16px;
}
body{
  padding: 20px;
}
h2,h4,p {
  margin: 0;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body {
  margin: 80px;
}
.container{
  box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.42);
  width: 650px;
  height: 450px;
  border-radius: 5px;
  overflow: hidden;
  
}
.top{
  width: 100%;
  height: 40%;
  padding: 30px;
  
}
.bottom {
  color: white;
  height: 60%;
  width: 100%;
}
.left{
  padding: 25px;
  
  background-color: #2ab2af;
  display: inline-block;
  height: 100%;
  width: 50%;
  vertical-align: top;
}
.right {
  padding: 25px;
  
  background-color: #1ac9c5;
  vertical-align: top;
  display: inline-block;
  width: 50%;
  height: 100%;
}

.top h2{
  color: #2ab2af;
  margin-bottom: 15px;
  
}
.top h4{
  color: #c0df34;
}
.top p{
  color: #98a6bd;
}
button{
  color: white;
  background-color: #c0df34;
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  font-size: 1rem;
}
#price {
  font-weight: 700;
  font-size: 1.4rem; 
}

.left h4{
  margin-bottom: 25px;
}
#consistency, #price{
  display: inline-block;
}

#frequency{
  position: relative;
  top: -3px;
  font-size: 0.9rem;
  opacity: 0.7;
  margin-left: 5px;
  
}
#price-container{
  margin-bottom: 15px;
}

.left p{
  font-size: 0.9rem;
  margin-bottom: 40px;
  
}
.right h4{
  margin-bottom: 25px;
  
}
.right ul{
  padding: 0px;
  list-style: none;
  font-size: 0.9rem;
  opacity: 0.8;
}
.right ul li{
  margin-bottom: 5px;
}

button:hover{
  cursor: pointer;
  opacity: 0.8;
}
